/*
*	Minimize button
*/
.decoration-button-minimize{
    -fx-border-style: null;
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-background-image:url("./minimize.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}

.decoration-button-minimize:hover{
    -fx-background-color: null;
    -fx-background-image:url("./minimize-hover.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}

.decoration-button-minimize:focused
{
    -fx-border-style: null;
    -fx-border-color: null;
}

/*
*	Maximize button
*/
.decoration-button-maximize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./maximize.png");
    -fx-background-repeat:no-repeat;
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}
.decoration-button-maximize:hover{
    -fx-background-color: null;
    -fx-background-image:url("./maximize-hover.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}

.decoration-button-maximize:focused
{
    -fx-border-style: null;
    -fx-border-color: null
}

/*
*	Restore button
*/
.decoration-button-restore{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./restore.png");
    -fx-background-repeat:no-repeat;
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}
.decoration-button-restore:hover{
    -fx-background-color: null;
    -fx-background-image:url("./restore-hover.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}

.decoration-button-restore:focused
{
    -fx-border-style: null;
    -fx-border-color: null
}

/*
*	Close button
*/
.decoration-button-close{
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./close.png");
    -fx-border-color: null;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}
.decoration-button-close:hover {
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("./close-hover.png");
    -fx-background-size: 39 35;
    -fx-padding: 7 20 4 20;
}

.decoration-button-close:focused
{
    -fx-border-style: null;
    -fx-border-color: null;
}

/*
*	Other button
*/
.decoration-button-other{
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 3 20;
}
.decoration-button-other:hover {
    -fx-border-style: null;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-size: 39 35;
    -fx-padding: 7 20 3 20;
}

.decoration-button-other:focused
{
    -fx-border-style: null;
    -fx-border-color: null;
}